body{
    background: linear-gradient(lightskyblue 0%, rgb(190, 94, 190) 50%);
}

.inputs{
   width: 60%;
}

#questions{
    background-color: white;
    border-top: solid 10px rgb(80, 28, 28);
    padding: 12px;
    width: 35%;
    border-radius: 10px;
}

#button_send {
    background: linear-gradient(rgb(53, 2, 2) 0%, red 100%);
    border-radius: 20%;
    width: 30%;
    color: whitesmoke;
}

#p1 {
   margin-left: 650px;
   margin-top: -30px;
}

#p2 {
   margin-left: 820px;
   margin-top: -90px;
}

#vs {
    margin-left: 760px;
}


#mountains{
height: 92px;
width: 1536px;
}

